.main-width {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

//header

.header {
  height: 100px;
  background-color: #090707;
  display: flex;
  align-items: center;

  &_container {
    display: flex;
    align-items: center;
  }

  &_title {
    color: #ffffff;
    font-size: 1.5em;
    padding-left: 10px;
  }

  &_icon {
    font-size: 1.5em;
    margin-left: 20px;
    color: #EFDC05;

    &--blue {
      color: #30A9DE;
    }

    &--red {
      color: #E53A40;
    }
  }
}

// book panel

// form

.book-panel_form {
  height: 100px;
  display: flex;
  align-items: center;

  .add-book {

  }
}